@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  color: $dark;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: $light;
  overflow-x: hidden;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.colors {
  &-primary {
    background-color: $primary;
    * {
      color: $light;
    }
  }

  &-secondary {
    background-color: $secondary;
    * {
      color: $dark;
    }
  }
}

.keyword {
  color: $primary;
  font-weight: bold;
}

p {
  line-height: 1.5em;

  a,
  span {
    @extend .keyword;
  }
}

.introduction {
  h1 {
    font-size: 50px;
    margin: 0;
  }

  margin-bottom: 40px;
}

body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 75px 5fr 0.5fr;
  grid-template-areas:
    "header"
    "main"
    "footer";

  header {
    padding-top: 20px;
    padding-bottom: 20px;
    @extend .center;
    grid-area: header;
    height: 30px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: $light;
    z-index: 999;

    @media (max-width: $mobile) {
      display: block;
      padding: 15px;
      height: auto;
    }

    .menu-icon {
      display: none;

      @media (max-width: $mobile) {
        width: 100%;
        display: block;
      }

      div {
        width: 30px;
        height: 4px;
        background-color: $dark;
        margin: 5px 0;
      }
    }

    .navbar {
      @media (max-width: $mobile) {
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        display: none;
        align-items: start;
      }

      a {
        font-weight: bold;
        font-size: 18px;
        margin: auto 10px;
        text-decoration: none;
        transition: 0.25s;

        &:hover {
          text-decoration: underline;
          font-size: 20px;
        }

        &.active {
          text-decoration: underline;
        }

        @media (max-width: $mobile) {
          display: block;
          margin-left: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  main {
    grid-area: main;

    .content {
      padding-left: 50px;
      padding-right: 50px;

      @media (max-width: $mobile) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  footer {
    @extend .center;
    background-color: $dark;
    padding: 30px;
    grid-area: footer;

    * {
      color: $light;
    }
  }
}

.logo {
  height: auto;
  width: 80px;
  margin: auto 20px;
}

.card {
  background-color: white;
  margin: 20px auto 50px auto;
  padding: 20px;
  -webkit-box-shadow: 0px -1px 15px 5px $dark;
  -moz-box-shadow: 0px -1px 15px 5px $dark;
  box-shadow: 0px -1px 15px 5px $dark;

  @media (max-width: $mobile) {
    margin: 20px 5px 50px 5px;
  }

  & img {
    @extend .logo;
  }

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
    }

    &-title {
      h2 {
        font-size: 35px;
        margin: 0;
      }
    }
  }

  &-body {
    padding: 0 20px;

    @media (max-width: $mobile) {
      padding: 0;
    }

    h3 {
      font-size: 25px;

      @media (max-width: $mobile) {
        text-align: center;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;

      @media (max-width: $mobile) {
        justify-content: center;
      }

      img {
        width: 50px;
      }

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 7px;

        h4 {
          margin: 5px;
          font-size: 14px;
        }
      }
    }
  }
}
